{% extends 'layout.html' %}

{% block css %}
<style>
    .main{
        margin: 10px;
        margin-top: 50px;
    }
    
    .sub-main{
        margin:20px;
        padding: 20px;
    }
</style>
{% endblock %}

<!-- {% if alrt %}
    {% block bodyevent %}onload="alert(alrt)"{% endblock %}
{% endif %} -->

{% block body %}
{% if logged_in %}
<div class="container-fluid main">
    {% if message != None %}
    <div class="row" style="margin: 70px 70px -30px;">
        <div class="col-sm-12 alert alert-danger" role="alert">
            {{ message }}
        </div>
    </div>
    {% endif %}
    <div class="card" style="background-color: transparent; border: none;">
        <a href="/dashboard"><button type="button" class="btn btn-outline-primary" style="margin: 10px; float: right;">Back to Dashboard</button></a>
    </div>
    <div class="sub-main">
        <table class="table table-hover table-inverse table-responsive">
            <thead class="thead-inverse">
                <tr>
                    <th>ID</th>
                    <th>Assignment Id</th>
                    <th>Cart Id</th>
                    <th>Date</th>
                    <th>Total Items</th>
                    <th>Total Amount</th>
                    <th>Customer Name</th>
                    <th>Mobile Number</th>
                </tr>
            </thead>
            <tbody>
                {% for i in billcrsr.find().sort("date") %}
                <tr>
                    <td scope="row">{{ i["_id"] }}</td>
                    <td>{{ i["assign_id"] }}</td>
                    <td>{{ i["cart_id"] }}</td>
                    <td>{{ i["date"] }}</td>
                    <td>{{ i["total_items"] }}</td>
                    <td>{{ i["total_amount"] }}</td>
                    <td>{{ i["cust_name"] }}</td>
                    <td>{{ i["cust_mobile"] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="sub-main">
        <form method="POST">
            <div class="form-group">
                <label for="billid">Enter Bill Id to View Data</label>
                <input type="text" class="form-control" name="billid" id="billid" onblur="checkbillid()" placeholder="BIll Id" required>
                <small id="smallmsg" class="form-text text-muted">Take help from the table above</small>
                <button type="submit" name="modify" id="modify" onclick="checkbillid()" class="btn btn-outline-primary">View Bill</button>
            </div>
        </form>
    </div>
</div>
{% else %}
<div class="row row-col-6" style="margin: 75px 50px; background-color: rgba(65, 146, 179, 0.1);">
    <div class="card mx-auto d-block">
        <div class="card-body text-center" style="padding: 50px; margin: 50px;">
            <h3>First Log In to view contents of this page.!</h3><br>
            <form method="POST" class="text-center">
                <a href="/login"><button type="button" class="btn btn-danger col-sm-6 text-center rounded-pill">Login Now</button></a>
            </form>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}

{% block js %}
<script type="text/javascript">
    function checkbillid()
    {
        var regex=/^[B]\d{3}$/ ;
        var bid=document.getElementById('billid').value;
        if(bid!="")
        {
            if(!regex.test(bid))
            {
                alert("Enter a Valid Bill ID!");
                document.getElementById('billid').style.border="thin solid red";
                document.getElementById('billid').value="";
                document.getElementById('billid').focus();
            }
            else
            {
                document.getElementById('billid').style.border="0px";
            }
        }
        document.body.focus();
    }
</script>
{% endblock %}