{% extends 'layout.html' %}

{% block title %}Add Billing Details{% endblock %}

{% block css %}
<style>
    .card{
        margin: 20px auto;
    }
    .padding-50{
        padding: 50px;
    }
    .padding-5{
        padding: 5px;
    }
    .padding-left-10{
        padding-left: 10px;
    }
    .padding-right-5{
        padding-right: 5px;
    }
    .border-0{
        border: 0px;
    }
    .border-1{
        border: 1px solid;
    }
    .border-top-2{
        border-top: 2px solid;
    }
    .border-bottom-2{
        border-bottom: 2px solid;
    }
    .border-left-2{
        border-left: 2px solid;
    }
    .border-right-2{
        border-right: 2px solid;
    }
    .margin-top-bottom-20{
        margin: 20px auto;
    }
    .margin-top-bottom-50{
        margin: 50px auto;
    }
    .margin-10{
        margin: 10px;
    }
    .bold{
        font-weight: bold;
    }
    .float-right{
        float: right;
    }
    .delete{
        display: block;
        color: #000;
        text-decoration: none;
        position: absolute;
        background: #EEEEEE;
        font-weight: bold;
        padding: 0px 3px;
        border: 1px solid;
        left: -20px;
        font-family: Verdana;
        font-size: 12px;
    }
</style>
{% endblock %}

{% block body %}
<br><br><br><br>
<div class="card padding-50" style="margin :auto 300px">
    <div class="row-col">
        <div class="row">
            <div class="col bg-dark text-light" style="text-align: center; font-size: x-large;">Invoice</div>
        </div>
        <div class="row margin-top-bottom-50">
            <div class="col">
                Company Name<br>
                Company Address Line 1<br>
                Company Address Line 2
            </div>
            <div class="col"></div>
            <div class="col">
                <img src="a.jpg" class="border-1" style="float: right;" alt="Company Logo">
            </div>
        </div>
        <hr width="70%">
        <div class="row margin-top-bottom-50">
            <div class="col">
                <div class="form-group">
                    <table style="padding: 5px; width: 110%;">
                        <tr>
                            <td class="border-0"><label>Customer Name : </label></td>
                            <td class="border-0 padding-5">{% if bd %}{{ bd['cust_name'] }}{% endif %}</td>
                        </tr>
                        <tr>
                            <td class="border-0"><label>Customer Mobile : </label></td>
                            <td class="border-0 padding-5">{% if bd %}{{ bd['cust_mobile'] }}{% endif %}</td>
                        </tr>
                        <tr>
                            <td class="border-0"><label>Assigned Cart ID : </label></td>
                            <td class="border-0 padding-5">{% if bd %}{{ bd['cart_id'] }}{% endif %}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col"></div>
            <div class="col">
                <div class="form-group">
                    <table style="float: right; padding: 5px; text-align: right; width: 110%;">
                        <tr style="height: 40px;">
                            <td><label for="billid">Bill ID : </label></td>
                            <td class="padding-5 padding-left-10">{% if bd %}{{ bd['_id'] }}{% endif %}</td>
                        </tr>
                        <tr style="height: 40px;">
                            <td><label for="assignid">Assignment ID : </label></td>
                            <td class="padding-5 padding-left-10">{% if bd %}{{ bd['assign_id'] }}{% endif %}</td>
                        </tr>
                        <tr style="height: 40px;">
                            <td><label for="date">Date : </label></td>
                            <td class="padding-5 padding-left-10">{% if bd %}{{ bd['date'] }}{% endif %}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="row margin-top-bottom-20">
            <div class="col">
                <table style="width: 100%;">
                    <tr class="border-top-2 border-bottom-2">
                        <th>Product ID</th>
                        <th>Product Name</th>
                        <th>Price</th>
                        <th class="border-left-2 border-right-2">Quantity</th>
                        <th>Amount</th>
                    </tr>
                    {% if bd %}
                    {% for i in cc.find({"assign_id":bd['assign_id']}) %}
                    <tr>
                        <td name="piddata" class="padding-5">{{ i['product_id'] }}</td>
                        <td name="pnamedata" class="padding-5">{{ prd.find_one({"_id":i['product_id']})['name'] }}</td>
                        <td name="ppricedata" class="padding-5">{{ prd.find_one({"_id":i['product_id']})['price'] }}</td>
                        <td name="pqtydata" class="padding-5 padding-left-10 border-left-2 border-right-2">{{ i['quantity'] }}</td>
                        <td name="pamt" class="padding-5 padding-left-10"></td>
                        <script>
                            var i=(document.getElementsByName('piddata').length-1);
                            var p=document.getElementsByName('ppricedata')[i].innerHTML;
                            var q=document.getElementsByName('pqtydata')[i].innerHTML;
                            document.getElementsByName('pamt')[i].innerHTML=p*q;
                        </script>
                    </tr>
                    {% endfor %}
                    {% endif %}
                    <tr>
                        <td> &nbsp; </td>
                        <td> &nbsp; </td>
                        <td> &nbsp; </td>
                        <td class="padding-5 border-left-2 border-right-2"> &nbsp; </td>
                        <td> &nbsp; </td>
                    </tr>
                    <tr class="border-top-2 border-bottom-2">
                        <td></td>
                        <td></td>
                        <td class="bold">Total</td>
                        <td class="border-left-2 border-right-2 padding-5 padding-left-10" style="font-weight: bold; width: 18%">{% if bd %}{{ bd['total_items'] }}{% endif %}</td>
                        <td class="padding-left-10 name="tamt" id="tamt" style="width: 15%; font-weight: bold;"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="border-left-2 border-right-2 border-bottom-2 bold padding-left-10">CGST (12%)</td>
                        <td class="border-bottom-2 padding-5 padding-left-10" name="cgst" id="cgst"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="border-left-2 border-right-2 border-bottom-2 bold padding-left-10">SGST (12%)</td>
                        <td class="border-bottom-2 padding-5 padding-left-10" name="sgst" id="sgst"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="border-left-2 border-right-2 border-bottom-2 bold padding-left-10">Total Amount</td>
                        <td class="border-bottom-2 padding-5 padding-left-10">{% if bd %}{{ bd['total_amount'] }}{% endif %}</td>
                    </tr>
                    {% if bd %}
                    <script>
                        var qarr=document.getElementsByName('pqtydata');
                        var amtarr=document.getElementsByName('pamt');
                        var sum=0, total=0, gst=0;
                        for (let i = 0; i < qarr.length; i++) {
                            sum = (Number(sum)+Number(qarr[i].innerHTML));
                            total = (Number(total)+Number(amtarr[i].innerHTML));
                        }
                        gst=total*12/100;
                        document.getElementById('tamt').innerHTML=total.toString();
                        document.getElementById('cgst').innerHTML=gst.toString();
                        document.getElementById('sgst').innerHTML=gst.toString();
                    </script>
                    {% endif %}
                </table>
            </div>
        </div>
        <hr width="70%">
        <div class="row">
            <div class="col margin-top-bottom-50" style="text-align: center;">TERMS
                <div style="text-align: center; font-size: small;">The Products Won't Be Returned Once Bought.</div>
                <div style="text-align: center;">Do Visit Again!!</div>
            </div>
        </div>
        <a href="/dashboard"><button type="button" class="btn btn-danger float-right">Back to Dashboard</button></a>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
</script>
{% endblock %}